/*
 * Globals
 */

#main_results_menu_button {    
    border-top:2px solid #81c71d;
}

#main_results_legend_button {
    border-left:2px solid #81c71d;
}

.btn-open {
	border-right:2px solid #81c71d;
    border-bottom:2px solid #81c71d;
	
}

.btn-bs.active {
	background-color: #81c71d;
}

.btn-bs:hover {
	background-color: #81c71d;
}

/*
 * Base structure
 */

html,
body {
    color:  #649a18;
}


.item >ul > li:first-child {
    background-color: #81c71d;
    border:1.5px solid #81c71d;
}

.ligandPlayer >ul > li:first-child {
    background-color: #649a18;
    border:1.5px solid #649a18;
}

.item > ul > li a {
	color: #f5f5f5;
}

.item > ul > li > ul > li a {
	color: #262626;
}

.item ul > li:nth-child(n+2) a:hover {
    color: #81c71d;
}

.ligandPlayer ul > li:nth-child(n+2) a:hover, .ligandPlayer ul > li:nth-child(n+2) a.active {
    color: #649a18;
}

.item ul > li:nth-child(n+2) > ul > li a:hover {
    color: #649a18;
}

.item ul > li:nth-child(n+2) > ul > li a.active {
    color: #649a18;
    font-weight: bold;
}

.masthead-brand, .inner.cover {
    color: #f5921c;
}

/* The side navigation menu */
.sidenav {
    border-right:2px solid #81c71d;
    border-bottom:2px solid #81c71d;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
		      color: #649a18;
		  }
		  

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    color: #81c71d;
}

/* The legend info */
.LegendInfo {
    border-right:2px solid #81c71d;
    border-left:2px solid #81c71d;
    border-bottom:2px solid #81c71d;
}

.closeLegend {
    color: #81c71d;
}

/*----- Round Buttons -----*/

.selectAllButton.active {
	background-color: #81c71d;
}

.resultButton.active, .SNPTableButton.active, .resultButtonLabel.active, .resultButtonZoom.active, .legendButton.active, .resultButtonLigands.active, .DraggableLegendButton.active, .selectAllLigandsButton.active {
	background-color: #649a18;
}

/*----- Result Tables -----*/

.resultsTable th {
    color: #81c71d;
}

.resultsTableBS th {
    color: #81c71d;
}

/*----- Content of Tabs -----*/
.tab-content {
    border: 2px solid #f57900
		border-radius:3px;
}

.glyphicon-globe:hover {
    color: #81c71d;
}

.lig_link {

    box-shadow: inset 5px 5px 40px 40px #649a18;
}

#speciesSNP {
	color: #81c71d;
}

.molmilInfoBox {
	color: #81c71d;
}

.contextMenu {
	border: 1px solid #81c71d;
}
