/*
 * Globals
 */

/* Links */
#main_results_menu_button {    
    border-top:2px solid #ff6600;
}

#main_results_legend_button {
    border-left:2px solid #ff6600;
}

.btn-open {
	border-right:2px solid #ff6600;
    border-bottom:2px solid #ff6600;
	
}

.btn-bs.active {
	background-color: #ff6600;
}

.btn-bs:hover {
	background-color: #ff6600;
}

/*
 * Base structure
 */

html,
body {
    color:  #f5921c;
}

.item >ul > li:first-child {
    background-color: #ff6600;
    border:1.5px solid #ff6600;
}

.ligandPlayer >ul > li:first-child {
    background-color: #ff9900;
    border:1.5px solid #ff9900;
}

.item ul > li:nth-child(n+2) a:hover {
    color: #ff6600;
}

.ligandPlayer ul > li:nth-child(n+2) a:hover, .ligandPlayer ul > li:nth-child(n+2) a.active {
    color: #ff9900;
}

.item ul > li:nth-child(n+2) > ul > li a:hover {
    color: #ff9900;
}

.item ul > li:nth-child(n+2) > ul > li a.active {
    color: #ff9900;
}

/* The side navigation menu */
.sidenav {
    border-right:2px solid #ff6600;
    border-bottom:2px solid #ff6600;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
	color: #ff9900;
		  }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    color: #ff6600;
}

/* The legend info */
.LegendInfo {
    border-right:2px solid #ff6600;
    border-left:2px solid #ff6600;
    border-bottom:2px solid #ff6600;
}

.closeLegend {
    color: #ff6600;
}

/*----- Round Buttons -----*/

.selectAllButton.active {
	background-color: #f57900;
}

.resultButton.active, .SNPTableButton.active, .resultButtonLabel.active, .resultButtonZoom.active, .legendButton.active, .resultButtonLigands.active, .DraggableLegendButton.active, .selectAllLigandsButton.active {
	background-color: #ff9900;
}

/*----- Content of Tabs -----*/
.tab-content {
    border: 2px solid #f57900
		border-radius:3px;
}

/*----- draggableTable -----*/
.glyphicon-globe:hover {
    color: #73AD21;
}

.lig_link {

    box-shadow: inset 5px 5px 40px 40px #ff9900;
}

#speciesSNP {
	color: #f57900;
}

.molmilInfoBox {
	color: #f57900;
}

.contextMenu {
	border: 1px solid #f57900;
}
