/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #73ad21;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

#main_results_menu_button {    
    left: 0;
    top: 20%;   
    border-radius: 0 15px 15px 0;
}

#main_results_legend_button {
    left: 50%;
    top: 0;
}

.btn-open {
	position:absolute;
	background-color: #262626;
	font-size: 1.3em !important;
	color: #f5f5f5;
	z-index: 1;
    border-radius: 0 0 15px 15px;
	
}

.btn-bs {
	background-color: #262626;
	color: #f5f5f5;
	margin:5px 5px 5px 5px;
}

#send_data_main {
	display: block;
	margin: auto;
	margin-bottom: 10px;
    background: white;
}

#example_inpt {
	display: block;
	margin: auto;
    background: white;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    width:100%;
    background-color: #000000;
    background: black url("../backgrounds/b13.png")no-repeat right center fixed; 
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    text-align: center;
}

canvas {
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

#bodymain {
    //background-color: red;
}

.draggableTable {
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 3;   
}

/* Drag and drop navigation bar*/
.item {
    right: 10px;
    top: 150px;
    cursor: pointer;
    z-index: 3;
}

.ligandPlayer {
	right: 10px;
    top: 250px;
    cursor: pointer;
    z-index: 3;
}

.item > ul, .ligandPlayer > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item >ul > li:first-child, .ligandPlayer >ul > li:first-child {
    float: left;
    border-radius: 10px 0 0 10px;
    font-weight: 600;
}

.item >ul > li:nth-child(n+2), .ligandPlayer >ul > li:nth-child(n+2) {
    float: left;
    background-color: #262626;
    border:1.5px solid #1a1a1a;
    font-weight: 500;
}

.item li a {
    display: block;
    color: #f5f5f5;
    text-align: left;
    font-size: .9em !important;
    padding: 10px 10px;
    text-decoration: none;
}

.ligandPlayer li a {
    display: block;
    color: #f5f5f5;
    text-align: left;
    font-size: .8em !important;
    padding: 10px 10px;
    text-decoration: none;
}

.item > ul > li > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    border-left:3px solid #1a1a1a;
}

.item > ul > li > ul > li > ul {
    list-style-type: disc;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
    box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
	width: 100%;
    /* box-shadow: inset 0px 0px 2px 2px green; */
    margin-right: auto;
    margin-left: auto;  
}

.inner.cover {
	margin-right: auto;
    margin-left: auto;
	width: 70%;
	background-color: #000000;
	border-radius: 25px;
	border: 2px solid #73AD21;
	padding: 20px;
}

/* Padding for spacing */
.inner {
    padding: 2rem;
}


/*
 * Header
 */



.masthead-brand {
	display:block;
    margin: auto;
    text-align: center;
    opacity: 0.8;
    
}

.nav-masthead .nav-link {
	display:block;
	margin: auto;
	width: 80px;
	text-align: center;
    padding: .25rem 0;
    font-weight: bold;
    background-color: transparent;
    border-bottom: .15rem solid transparent;
    color: white;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255,230,255,.5);
}

.nav-masthead .active {
	color: white;
    border-bottom-color: #fff;
}


/*
 * Cover
 */

.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
    color:rgba(255,255,255,.8);
    //box-shadow:  0px 0px 3px 3px rgba(255,255,255,.8);
    text-shadow:
    -1px -1px 0 rgba(0,0,0,0.8),  
    1px -1px 0 rgba(0,0,0,0.8),
    -1px  1px 0 rgba(0,0,0,0.8),
    1px  1px 0 rgba(0,0,0,0.8);
    text-align: center;
    background-color: rgba(0,0,0,0.15);



}

.mastfoot a {
    color: #8FE01B;
    
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
    /* Pull out the header and footer */
    .masthead {
	position: fixed;
	top: 0;
    }
    .mastfoot {
	position: fixed;
	bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
	vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
	width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 62em) {
    .masthead,
    .mastfoot,
    .cover-container {
	width: 42rem;
    }
}

.loading_bar {

    float:center;
    padding-top: 2cm;
    display:none;


}

.main_button_search:hover {

    background-color: orange;

}

/* The side navigation menu */
.sidenav {
    //height: 40%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: -3px;
    background-color: #1a1a1a; /* Black*/
    border-radius: 0 0 15px 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f5f5f5;
    display: block;
    transition: 0.3s;
    
}

/* .sidenav a:nth-child(n+2){ */
/* 	background-color: #262626; */
/*     border-top:10px solid #1a1a1a; */
/* } */

.sidenav a:nth-child(2n+3){
    background-color: #262626;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    height: 0px;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The legend info */
.LegendInfo {
	height: 0px;
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: -3px;
    left: 40%;
    background-color: #1a1a1a; /* Black*/
    border-radius: 0 0 15px 15px;
    overflow: hidden; /* Disable horizontal scroll */
    padding-left: 10px; /* Place content 60px from the top */
    padding-right: 10px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    text-align: left;
    font-size: 1em;
}

/* The navigation menu links */
.LegendInfo a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f5f5f5;
    display: block;
    transition: 0.3s;
    
}

.closeLegend {
    position: absolute;
    height: 0px;
    top: 0;
    right: 0;
    //margin-left: 50px;
}

.questionmark {
	color: #00c0ff;
}

.sidenavTable {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    float:right;
    background-color: #000000; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenavTable a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenavTable a:hover, .offcanvas a:focus{
			   color: #f1f1f1;
		       }

/* Position and style the close button (top right corner) */
.sidenavTable .closebtnTable {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenavTable h1 {
    color: #4d4d4d;

}

.closebtnDraggableTable {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 30px;
    margin-left: 40px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.question_mark {
    float:center; 
    width:13px;
    height:13px;
    margin-right: 15px;
    cursor: pointer;
}

.results tr[visible='false'],
.no-result{
    display:none;
}

.results tr[visible='true']{
    display:table-row;
}

.counter{
    padding:8px; 
    color:#ccc;
}

.dyn-search{
    background-color:black;
}

.dyn-search:focus {
    background-color:#1a1a1a;
}

#SNPlink {
    font-size: 17px;
}

.BSlink {
    font-size: 17px;
}

#Specieslink {
    font-size: 20px;
}

/*----- Round Buttons -----*/

.SNPTableButton, .DraggableLegendButton {
    border: 1px solid #f5f5f5;
    width:20px;
    height:20px;  
    border-radius: 50%;
    text-align:center;
    color: #eeeeec;
    font-size: 10px;
    text-decoration:none;
    box-shadow: 0 0 3px gray;
    font-weight:bold;
    margin: 0 auto;  
    padding: 0 0 0 0;
}

.DraggableLegendButton {
    cursor: default;
}

.resultButton, .SNPTableButton, .selectAllButton, .selectAllLigandsButton, .resultButtonLabel, .legendButton, .resultButtonLigands, .DraggableLegendButton {
	background-color: #464646;
}

.resultButtonLabel, .resultButton, .selectAllButton, .selectAllLigandsButton, .legendButton, .BindingSiteButton, .SNPButton, .resultButtonLigands {
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    text-align:center;
    color: #eeeeec;
    text-decoration:none;
    box-shadow: 0 0 3px gray;
    font-weight:bold;
    margin: 0 auto;  
}

.legendButton {
    width:25px;
    height:25px;  
    font-size: 13px;  
    cursor: default;
}

.BindingSiteButton, .SNPButton {
    border: 1px solid #eeeeec;
    width:20px;
    height:20px;  
    font-size: 10px;  
    cursor: default;
    padding: 0 0 0 0;
}

.resultButtonLabel, .resultButton, .resultButtonLigands {	
    display:block;
    width:25px;
    height:25px;  
    font-size: 13px;      
    
}

.selectAllButton, .selectAllLigandsButton {
    display:block;
    width:50px;
    height:50px;
    font-size: 20px;   
}

.resultButtonLabel:hover, .resultButton:hover, .selectAllButton:hover, .selectAllLigandsButton:hover, .resultButtonLigands:hover {
	border: 2px solid #babdb6;
					       }

/*----- Result Tables -----*/

.resultsTable th {
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    background-color: #000000;
}

.resultsTableBS th, .resultsTableGrid {
    padding-left: 15px;
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
    background-color: #000000;
}

.resultsTable td {
    font-weight: normal;
    font-size: 1em;
    text-align: center;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.resultsTableBS td {
    padding-left: 15px;
    font-weight: normal;
    font-size: 1em;
    text-align: left;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.resultsTable, .resultsTableBS {
    text-align: left;
    overflow: hidden;
    width: 98%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

.resultsTable td, .resultsTable th, .resultsTableBS td, .resultsTableBS th {
    padding-bottom: 2%;
    padding-top: 2%;
}

/* Background-color of the odd rows */
.resultsTable tr:nth-child(odd), .resultsTableBS tr:nth-child(odd) {
				     background-color: #1a1a1a;
				 }

/* Background-color of the even rows */
.resultsTable tr:nth-child(even), .resultsTableBS tr:nth-child(even) {
				      background-color: #262626;
				  }

.resultsTable a i, .resultsTable a, .resultsTableBS a i, .resultsTableBS a {
    font-size: 1em;
}

.resultsTable td a, .resultsTableBS td a{
    color: #f1f1f1;
}

/*----- Black/White switch -----*/
.onoffswitch {
    position: absolute; width: 90px;
    bottom: 10px;
    left: 50%;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #333; border-radius: 20px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
			       display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
			       font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
			       box-sizing: border-box;
			   }

.onoffswitch-inner:before {
    content: "White";
    padding-left: 10px;
    background-color: #000000; color: #ffffff;
    text-align: left;
}

.onoffswitch-inner:after {
    content: "Black";
    padding-right: 10px;
    background-color: #ffffff; color: #000000;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 34px; margin: -2px;
    background: #000000;
    position: absolute; top: 0; bottom: 10px;
    right: 59px;
    border: 2px solid #333; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #ffffff; 
}

/*----- Tab Links -----*/
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    opacity: 0.7;
    /*     background:#4d4d4d; */
    font-size:16px;
    font-weight:600;
    color:#eeeeec;
    transition:all linear 0.15s;
}

.tab-links a:hover {
    opacity: 0.9;
    /*     background:#ff9900; */
    text-decoration:none;
}

li.active a, li.active a:hover {
		 opacity: 1;
		 /*     background:#f57900; */
		 color:#f3f3f3;
	     }

/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#000000;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

/*----- draggableTable -----*/
#draggableTable {
    padding-top: 0.5rem;
    border: 2px solid #262626;
    background: black;
}

#draggableTableCont {
    background: #262626;
    border-spacing: 0.2rem;
    border-collapse: separate;
}

#draggableTableCont td {
    padding: 0.1rem;
    padding-bottom: 0.2rem;
    background: #1a1a1a;
}

body .modal-snpview {
    width: 90%; /* desired relative width */
    left: 5%; /* (100%-width)/2 */
    /* place center */
    margin-left:auto;
    margin-right:auto; 
}

.geneView {
    display: inline-block;
    margin: 5px;
    padding: 0px;
}

.geneView a {
    display: block;
    margin: 0px;
    padding: 0px;
    height: 0px;
    width: 0px;
}

.glyphicon-link {
    position: relative;
    text-align: left;
    vertical-align: top;
    color: #f1f1f1;
    font-size: 0.8em;
}

.glyphicon-link:hover {
    color:red;
    transform: scale(1.3);    
}

.glyphicon-globe:hover {
    color: #73AD21;
}

.glyphicon-camera {
	position: absolute;
    height: 0px;
	top: 25px;
    font-size: 25px;
    //margin-left: 50px;
}

.glyphicon-play-circle {
	position: absolute;
    height: 0px;
	top: 25px;
    font-size: 25px;
    //margin-left: 50px;
}

.glyphicon-menu-right, .glyphicon-menu-left {
	cursor: pointer;
}


.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1);}
.grow:hover { color: orange;}

.instructionsImg {
    max-height:50px;
    width: auto;
    height: auto;
}

.instructionsMenuImgDemo {
	max-width: 100%;
}

.instructionsMenuImage {
    max-width:100%;
  	width: auto;
    height: auto;
    
}

.instructions {
    display: none;
    color: black;
    text-align: left;
    font-weight: normal;
}

.instructions.first {
	text-align: center;
}

.instructions.active {
    display: block;
}

.instructions > ul > li {
    text-align: left;
}

.logobox p{
    text-align: center;
    background: black;    
    opacity: 0.85;

}

.SNPlink:hover {

    color: red;
    transform: scale(1.4);
    font-size: 20px;
    text-decoration: underline;
    
}


.BSlink:hover {
    color:red;
    transform: scale(1.4);
    font-size:20px;
}

@media (max-width: 300px) {
    html { font-size: 40%; }
}

@media (min-width: 700px) {
    html { font-size: 60%; }
}

@media (min-width: 1000px) {
    html { font-size: 80%; }
}

@media (min-width: 1700px) {
    html { font-size: 100%; }
}

#myProgress {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

#myBar {
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: #ff9933;
}

.textInstructions {
	color: black;
}

.importantLink {
	cursor: pointer;
}

.importantText, .importantNo {
	font-weight: bold;
}

.instructions > ol >li {
	color: #81c71d;
}

.importantText {
	text-decoration: none;
	border-bottom: 1px solid #81c71d;
}

.importantNo {
	color: #81c71d;
}

.lig_link {
	width: 100px;
	height: 100px;
}

#StructureContainer {
	padding-top: 10px;
}