.ui-jqgrid {border-width: 0px;}
.ui-jqgrid tr.jqgrow td {border-bottom-width: 0px;}
.ui-jqgrid .ui-jqgrid-title {font-weight:normal;float:right;margin-right:10px;}
.ui-jqgrid .ui-jqgrid-titlebar-close {display:none;}
.ui-jqgrid {font-size:1em}