/*!
 * molmil.css
 *
 * Molmil molecular web viewer: https://github.com/gjbekker/molmil
 * 
 * By Gert-Jan Bekker
 * License: LGPLv3
 *   See https://github.com/gjbekker/molmil/blob/master/LICENCE.md
 */

#console {
  display: none;
  border: 1px solid #888;
  width: 50%;
  font-family: Lucida Console;
  text-align: left;
}

#console_log {
  display: none;
  width: 100%;
  height: 18em;
  max-height: 18em;
  overflow: auto;
}
  
#console_log > span {
  height: 100%;
  display: none;
  padding: .33em;
}
  
#console_log > span > span {
  display: none;
  vertical-align: bottom;
}
  
#console_sb {
  position:absolute;
  margin-top: .25em;
  margin-left: .5em;
  
}
  
#console_input {
  padding: .33em;
  max-height: 4.67em;
  overflow:auto;
  padding-left: 1.5em;
  display:none;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.smallButton {
  display: inline-block;
  font-size: 1.5em;
  border: 1px solid orange;
  border-radius: .5em;
  margin: .125em;
  padding: .25em;
}

.smallButton:hover {
  background-color: yellow;
  cursor: pointer;
}

.molmil_UI_center {
  border: 1px solid orange;
  border-radius: 1em;
  padding: .5em;
  background-color: white;
}

.molmil_menu_popup {
  border: 1px solid #ff6600;
  border-radius: 1em;
  padding: .25em 1em;
  display: inline-block;
  margin-left: .25em;
  text-align: center;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
}

.molmil_popup_outer {
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%; 
}

.entryLoaded .molmil_popup_outer {
  display: none;
}

.molmil_popup_inner {
  position: relative;
  top: -50%;
  left: -50%;
}

.molmil_UI_container {
  	position: fixed;
	bottom: 0;
	right: 0;
}

.molmil_UI_LB {
  display: none;
  position: absolute;
  top: .5em;
  left: .5em;
  z-index: 10;
}

.molmil_UI_cl_box {
  position: absolute;
  bottom: 0em;
  width: 100%;
  z-index: 9;
  display:none;
  text-align: left;
  max-height: 0px;
  font-family: Lucida Console;
  overflow: hidden;
  pointer-events: none;
}

.molmil_UI_cl_icon {
  position: absolute;
  bottom: .5em;
  left: .5em;
  z-index: 9;
  max-height: 0px;
  cursor: pointer;
  pointer-events: auto;
}

.molmil_UI_cl_input {
  display: none;
  padding: .5em;
  padding-left: 1.5em;
  position:absolute;
  bottom: 0px;
  max-height: 0px;
  width: calc(100% - 2em);
  pointer-events: auto;
  height: 0;
}

.molmil_UI_cl_logbox {
  padding: .33em;
  position: absolute;
  overflow: auto;
  display: none;
  bottom: 2em;
  pointer-events: auto;
  resize: vertical;
  
  -webkit-touch-callout: text !important;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  -o-user-select: text !important;
  user-select: text !important;
}

.molmil_UI_LB_icon {
  border-radius: 1em;
  border: 1px solid orange;
  padding: .5em;
  vertical-align: top;
  width: 4em;
  height: 4em;
  display: none;
}

.molmil_UI_RB {
  position: absolute;
  top: .5em;
  right: 0em;
  z-index: 10;
  display: none;
}

.molmil_UI_RB_icon {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border: 1px solid orange;
  border-right: 0px;
  padding: .33em .5em 1em .5em;
  display: none;
  
}

.molmil_UI_RB_icon:hover, .molmil_UI_LB_icon:hover {
  background-color: silver;
  cursor: pointer;
}

.molmil_UI_RM {
  border: 1px solid orange;
  border-right: 0px;
  border-bottom-left-radius: 1em;
  padding: .5em;
  display: none;
  text-align: left;
  background-color: white;
  vertical-align: top;
  width: 15em;
  min-height: 15em;
  max-height: 30em;
  overflow: auto;
}

.molmil_UI_LM {
  border: 1px solid orange;
  border-radius: 1em;
  padding: .25em .5em;
  display: none;
  margin-left: .25em;
  text-align: left;
  background-color: white;
  vertical-align: top;
}

.molmil_UI_ME {
  padding: .25em;
  display: none;
}

.molmil_UI_ME:hover {
  background-color: yellow;
  cursor: pointer;
}

.optCat_p {
  cursor: pointer;
  width: 1.25em;
  display: inline-block;
  font-family: courier;
  text-align: center;
}

.optCat_n {
  cursor: pointer;
  display: inline-block;
  width: calc(100% - 1.5em);
}

.optCat_n:hover {
  background-color: yellow;
}

.optCat_k {
  font-size: .8em;
  color: lightgrey;
  cursor: default;
}

.optCat_k:hover {
  color: black;
}

.unselectableText {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.contextMenu {
  position: absolute;
  text-align: left;
  color: black;
/*   border: 1px solid orange; */
  border-radius: 1em;
  padding: .5em;
  background-color: white;
  min-width: 10em;
  font-size: .8em;
  z-index: 9999;
}

.cM_sub {
  font-size: 1em !important;
}

.contextMenu_E {
  cursor: pointer;
  position: relative;
}

.contextMenu_E:hover,.contextMenu_E_sel {
  background-color: yellow;
}

.contextMenu_E span {
  float: right;
}
